{{ header }}
<div id="common-maintenance" class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
    {{ message }}
    </div>
    </div>
  </div>
</div>
{{ footer }}
