#admin
admin/
#

#catalog
catalog/*
!catalog/view
catalog/view/*
!catalog/view/theme
catalog/view/theme/*
!catalog/view/theme/silkway
#

#image
image/
#

#system
system/*
!system/*.ocmod.xml
#

.htaccess
config.php
index.php
php.ini
robots.txt
.DS_Store
.idea/

