<section class="container-fluid sw2_mx--15">
    <div class="row">
        <div class="container">
            <div class="row">
                <p class="sw2-p-title sw2_mt-9"><span class="sw2-color-gold">———</span> НАШИ УСЛУГИ И РЕШЕНИЯ</p>
                <h1 class="sw2-h1 sw2-color-black">Услуги импорта под ключ и логистики</h1>
                <div class="sw2_d-flex sw2_justify-between">
                    <h2 class="sw2-h2 sw2-color-lite-black">Полный цикл от поиска поставщика до склада в России</h2>
                    <button class="sw2-button-white">Все услуги →</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="sw2-service-card sw2-service-card-f1 sw2_mt-5">
                        <p class="">от 2 до 7 дней</p>
                        <h3 class="sw2_mt-8">Поиск и проверка поставщиков в Китае</h3>
                        <h4 class="sw2_mt-4">Найдем производителей, проведем переговоры, проверим юридическое лицо и вышлем детальный фото- и видеоотчет с инспекции фабрики.</h4>
                        <button class="sw2_mt-5">Подробнее →</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sw2-service-card sw2-service-card-f2 sw2_mt-5">
                        <p>от 3 до 18 дней</p>
                        <h3 class="sw2_mt-8">Доставка товаров под ключ</h3>
                        <h4 class="sw2_mt-4">Экономичная доставка небольших партий от разных отправителей в одном контейнере. Идеально для малого и среднего бизнеса</h4>
                        <button class="sw2_mt-5">Подробнее →</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sw2-service-card sw2-service-card-f3 sw2_mt-5">
                        <p>от 3 до 15 дней</p>
                        <h3 class="sw2_mt-8">Организация производства</h3>
                        <h4 class="sw2_mt-4">Найдем производителей, проведем переговоры, проверим юридическое лицо и вышлем детальный фото- и видеоотчет с инспекции фабрики.</h4>
                        <button class="sw2_mt-5">Подробнее →</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sw2-service-card sw2-service-card-f4 sw2_mt-5">
                        <p>выпуск за 24 часа</p>
                        <h3 class="sw2_mt-8">Расчет таможенных платежей</h3>
                        <h4 class="sw2_mt-4">Профессиональное декларирование грузов на любых таможенных постах РФ. Быстрый выпуск без корректировок стоимости.</h4>
                        <button class="sw2_mt-5">Подробнее →</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sw2-service-card sw2-service-card-f5 sw2_mt-5">
                        <p>от 3 до 7 дней</p>
                        <h3 class="sw2_mt-8">Контроль качества товара</h3>
                        <h4 class="sw2_mt-4">Экономичная доставка небольших партий от разных отправителей в одном контейнере. Идеально для малого и среднего бизнеса</h4>
                        <button class="sw2_mt-5">Подробнее →</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sw2-service-card sw2-service-card-f6 sw2_mt-5">
                        <p>оформление за 2 дня</p>
                        <h3 class="sw2_mt-8">Аутсорсинг ВЭД / Контракт Агента</h3>
                        <h4 class="sw2_mt-4">Полностью возьмем на себя импорт. Вы покупаете товар у российской компании по рублевому договору с НДС 20% или без...</h4>
                        <button class="sw2_mt-5">Подробнее →</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>