<section class="sw2_mx--15 sw2-font-current-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p class="sw2-color-gold sw2_mt-10 sw2-p-title">——— Премиальный B2B-партнер по Китаю: от фабрики до вашего склада</p>
                <h1 class="sw2-h1 sw2_mt-9 color-white">Импорт из Китая <span class="sw2-color-gold sw2-font-style-italic">в любой город России</span></h1>
                <h2 class="sw2-h2 sw2-color-white sw2_mt-8">Не просто возим грузы, а полностью закрываем цикл: от поиска фабрики и технического аудита производства до таможенной растаможки и доставки по РФ с предоставлением всех документов.</h2>
                <div class="sw2_mt-5">
                    <button class="sw2-button-gold">Получить расчет стоимости</button>
                    <button class="sw2-button-black sw2_ms-4">Написать в WhatsApp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sw2_mt-9">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 sw2_d-flex sw2_justify-between sw2_fs-12">
                        <p class="sw2-color-gold">✓ 10+ лет на рынке</p>
                        <p class="sw2-color-gold">✓ 500+ клиентов</p>
                        <p class="sw2-color-gold">✓ Таможенный брокер</p>
                        <p class="sw2-color-gold">✓ Свои агенты в Китае</p>
                        <p class="sw2-color-gold">✓ Собственные B2B склады</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>