header {
    height: 1100px;
    background-image:  linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url("../../../../../../../image/catalog/silkway/first page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
header .navbar-silk-way {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 11px 0;
    border-bottom: 1px solid rgb(235 235 240 / 20%);
}
header .navbar-silk-way .container-fluid {
    height: 100%;
}
header .navbar-silk-way .container-fluid .ul-top-items .li-top-item {
    list-style-type: none;
}
header .navbar-silk-way .container-fluid .ul-top-items .li-top-item .a-top-link {
    background: none !important;
}