header {
    background-image:  linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url("../../../../../../../image/catalog/silkway/first page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
header .header-body h1{
    margin-top: 50px;
    color: white;
    font-size: 74px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 140px;
}
header .header-body > div > p {
    font-size: 20px;
    color: white;
    margin-top: 30px;
    line-height: 40px;
}
header .navbar-silk-way {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(235 235 240 / 20%);
}
header .navbar-silk-way .container-fluid > .row {
    display: flex;
    align-items: center;
    height: 94px;
}
header .navbar-silk-way .container-fluid .navbar-header {
    margin: 0 30px;
}
header .navbar-silk-way .container-fluid .navbar-collapse {
    display: flex !important;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100% !important;
}
header .navbar-silk-way .container-fluid .navbar-collapse:before {
    height: 100%;
    width: 1px;
    border-left: 1px solid rgb(235 235 240 / 20%);
}
header .navbar-silk-way .container-fluid .navbar-collapse:after,
header .navbar-silk-way .container-fluid .navbar-collapse:before {
    /*display: none;*/
}
header .navbar-silk-way .container-fluid .navbar-collapse #search input{
    background: rgb(217 217 217 / 40%);
    color: white;
    border: 1px solid rgb(235 235 240 / 20%);
    border-right: none;
    border-radius: 4px 0 0 4px;
}
header .navbar-silk-way .container-fluid .navbar-collapse #search > span > button {
    height: 45px;
    background: rgb(217 217 217 / 40%);
    color: white;
    border: 1px solid rgb(235 235 240 / 20%);
    border-left: none;
    margin-left: 0;
    padding: 10px 6px;
    border-radius: 0 4px 4px 0;
}
header .navbar-silk-way .container-fluid .navbar-collapse #search input::placeholder {
    color: rgb(255 255 255 / 70%);
}
header .navbar-silk-way .container-fluid .navbar-collapse .pt-menu {
    width: 35%;
    background: none !important;
    padding-left: 30px;
}
header .navbar-silk-way .container-fluid .navbar-collapse .pt-menu > .ul-top-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
header .navbar-silk-way .container-fluid .navbar-collapse .pt-menu > .ul-top-items .li-top-item .a-top-link {
    color: white !important;
}
header .navbar-silk-way .container-fluid .navbar-collapse .pt-menu > .ul-top-items .li-top-item .a-top-link:hover {
    color: var(--button-bg-hover-color) !important;
    transition: 0.2s;
}
header .navbar-silk-way .container-fluid .navbar-collapse .pt-menu > .ul-top-items .li-top-item:hover .a-top-link i {
    color: var(--button-bg-hover-color) !important;
    background: none !important;
    transition: 0.2s;
}
header .navbar-silk-way .container-fluid .navbar-collapse .pt-menu .mega-menu-container{
    width: 40% !important;
    display: none;
    position: absolute;
    left: 0;
    margin-top: 18px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 0 5px 2px #0000005c;
    transform: translateX(-150%);
    animation: ani 0.5s forwards;
}
@keyframes ani {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-left {
    width: 40%;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-end;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-right > a {
    padding: 10px 80px;
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    height: 100%;
    display: flex;
    align-items: center;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-right .nav .dropdown > a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-right .nav .dropdown > a[aria-expanded = "true"] {
    color: var(--button-bg-hover-color);
    transition: 0.3s;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-right .nav .dropdown.open > a {
    background: none;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-nav > li {
    float: none;
    margin-right: 30px;
}
header .navbar-silk-way .container-fluid .navbar-collapse .navbar-left #search {
    width: 100%;
}
header .navbar-silk-way .container-fluid .ul-top-items .li-top-item {
    list-style-type: none;
    float: none !important;
}
header .navbar-silk-way .container-fluid .ul-top-items .li-top-item .a-top-link {
    background: none !important;
}
