<div id="sw_our_partners">
    <h2>НАШИ ПАРТНЕРЫ</h2>
    <h3>Поможем вам с выходом на маркетплейсы</h3>

    <div class="container-fluid">
        <div class="row content-top">
            <h2>зарабатывайте от <span>150 000 рублей</span> <br> На готовом бизнесе по продаже <br> <span>товаров на маркетплейсах</span></h2>
            <p>За <span>21 день</span> с момента подписания <br> договора <span>до первых продаж</span> <br> вашего собственного бизнеса</p>
            <div>
                <button type="button" class="btn btn-default">Получить консультацию</button>
                <svg width="152" height="39" viewBox="0 0 152 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 17.2363C47.4602 1.25163 142.504 -16.9742 151 38" stroke="white" stroke-width="2"/>
                </svg>
                <p>Получите консультацию <br> по запуску бизнеса и узнайте <br> сколько вы сможете заработать</p>
            </div>
        </div>
        <div class="row content-bottom">
            <div class="col-lg-4">
                <div class="card">
                    <p>Минимальные вложения на <br> закупку товара — от 50 000 руб. <br> и выше. Срок окупаемости от 2-х <br> месяцев с момента продаж</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <p>Запуск продаж и первая выручка <br> в течение 1 месяца</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <p>Полное сопровождение и <br> ведение вашего бизнеса от <br> нашей команды экспертов</p>
                </div>
            </div>
        </div>
    </div>
</div>