<div id="sw_process" class="container">
    <h2>ПРОЦЕСС</h2>
    <h3>Как происходит работа с нами?</h3>
    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-2">
            <div class="card">
                <h4>10+</h4>
                <p>Лет на рынке</p>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2">
            <div class="card">
                <h4>>50000</h4>
                <p>Успешных доставок</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-8">
            <div class="card">
                <p>Для вашего удобства мы сняли короткое видео, в котором рассказали о всех особенностях и этапах нашей работы</p>
            </div>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-xs-12 col-md-5 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12 p-0">
                    <div class="card">
                        <h4>Всего 5 шагов</h4>
                        <p>Придется сделать всего пять простых шагов и товар из Китая окажется у вас</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 p-0">
                    <div class="card no-card">
                        <p>Вы можете связаться с нами онлайн в Telegram и оформить заказ</p>
                        <button class="btn btn-default">Оформить заказ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-8">
            <div class="you-tube">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xwCzMUMwynw?si=qkxcOU-3WCtbxpqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>