:root {
    --sw2-color-gold: #C8A86E;
    --sw2-color-white: #DCDCDC;
    --sw2-color-black: #11273A;
    --sw2-color-lite-black: #4D5F6F;
    --sw2-h1-fs: 64px;
    --sw2-h2-fs: 20px;
}

.color-white {
    color: white;
}

.sw2-color-white {
    color: var(--sw2-color-white);
}

.sw2-color-black {
    color: var(--sw2-color-black);
}

.sw2-color-gold {
    color: var(--sw2-color-gold);
}

.sw2-h1 {
    font-size: var(--sw2-h1-fs);
}

.sw2-h2 {
    font-size: var(--sw2-h2-fs);
}

.sw2-font-style-italic {
    font-style: italic;
}

.sw2-button-gold {
    padding: 23px 27px;
    background: var(--sw2-color-gold);
    border: 0;
    text-transform: uppercase;
    color: var(--sw2-color-black);
}

.sw2-button-gold:hover {
    background: linear-gradient(to bottom, #feb47b, var(--sw2-color-gold));
    color: var(--sw2-color-black);
}

.sw2-button-gold:active {
    background: #DED2BA;
}

.sw2-button-black {
    padding: 22px 26px;
    background: var(--sw2-color-black);
    text-transform: uppercase;
    color: var(--sw2-color-gold);
    border: 1px solid var(--sw2-color-gold);
}

.sw2-button-black:hover {
    background: #203E5B;
    color: var(--sw2-color-gold);
}

.sw2-font-current-page {
    background-image: url("/image/staticpage/logistics 1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* ===========================
DISPLAY
=========================== */

.sw2_d-block {
    display: block;
}

.sw2_d-inline {
    display: inline;
}

.sw2_d-inline-block {
    display: inline-block;
}

.sw2_d-flex {
    display: flex;
}

.sw2_d-inline-flex {
    display: inline-flex;
}

.sw2_d-grid {
    display: grid;
}

.sw2_d-none {
    display: none;
}


/* ===========================
   FLEX DIRECTION
   =========================== */

.sw2_flex-row {
    flex-direction: row;
}

.sw2_flex-column {
    flex-direction: column;
}

.sw2_flex-row-reverse {
    flex-direction: row-reverse;
}

.sw2_flex-column-reverse {
    flex-direction: column-reverse;
}


/* ===========================
   JUSTIFY CONTENT
   =========================== */

.sw2_justify-start {
    justify-content: flex-start;
}

.sw2_justify-center {
    justify-content: center;
}

.sw2_justify-end {
    justify-content: flex-end;
}

.sw2_justify-between {
    justify-content: space-between;
}

.sw2_justify-around {
    justify-content: space-around;
}

.sw2_justify-evenly {
    justify-content: space-evenly;
}


/* ===========================
   ALIGN ITEMS
   =========================== */

.sw2_items-start {
    align-items: flex-start;
}

.sw2_items-center {
    align-items: center;
}

.sw2_items-end {
    align-items: flex-end;
}

.sw2_items-stretch {
    align-items: stretch;
}

.sw2_items-baseline {
    align-items: baseline;
}


/* ===========================
   ALIGN SELF
   =========================== */

.sw2_self-start {
    align-self: flex-start;
}

.sw2_self-center {
    align-self: center;
}

.sw2_self-end {
    align-self: flex-end;
}

.sw2_self-stretch {
    align-self: stretch;
}


/* ===========================
   FLEX WRAP
   =========================== */

.sw2_flex-wrap {
    flex-wrap: wrap;
}

.sw2_flex-nowrap {
    flex-wrap: nowrap;
}

.sw2_flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}


/* ===========================
   GRID
   =========================== */

.sw2_grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.sw2_grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.sw2_grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.sw2_grid-auto {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


/* ===========================
   GAP
   =========================== */

.sw2_gap-5 {
    gap: 5px;
}

.sw2_gap-10 {
    gap: 10px;
}

.sw2_gap-15 {
    gap: 15px;
}

.sw2_gap-20 {
    gap: 20px;
}

.sw2_gap-30 {
    gap: 30px;
}

.sw2_gap-40 {
    gap: 40px;
}


/* ===========================
   fs
   =========================== */

.sw2_fs-12 {
    font-size: 12px
}


/* ===========================
   MARGIN
   =========================== */

.sw2_m-0 {
    margin: 0;
}

.sw2_m-1 {
    margin: 0.25rem;
}

/* 4px */
.sw2_m-2 {
    margin: 0.5rem;
}

/* 8px */
.sw2_m-3 {
    margin: 1rem;
}

/* 16px */
.sw2_m-4 {
    margin: 1.5rem;
}

/* 24px */
.sw2_m-5 {
    margin: 3rem;
}

.sw2_m-10 {
    margin: 17rem;
}

.sw2_m-9 {
    margin: 8rem;
}

.sw2_m-9 {
    margin: 6rem;
}

.sw2_mt-0 {
    margin-top: 0;
}

.sw2_mt-1 {
    margin-top: 0.25rem;
}

.sw2_mt-2 {
    margin-top: 0.5rem;
}

.sw2_mt-3 {
    margin-top: 1rem;
}

.sw2_mt-4 {
    margin-top: 1.5rem;
}

.sw2_mt-5 {
    margin-top: 3rem;
}

.sw2_mt-8 {
    margin-top: 5rem;
}

.sw2_mt-9 {
    margin-top: 7rem;
}

.sw2_mt-10 {
    margin-top: 17rem;
}

.sw2_mb-0 {
    margin-bottom: 0;
}

.sw2_mb-1 {
    margin-bottom: 0.25rem;
}

.sw2_mb-2 {
    margin-bottom: 0.5rem;
}

.sw2_mb-3 {
    margin-bottom: 1rem;
}

.sw2_mb-4 {
    margin-bottom: 1.5rem;
}

.sw2_mb-5 {
    margin-bottom: 3rem;
}

.sw2_mb-8 {
    margin-bottom: 5rem;
}

.sw2_mb-9 {
    margin-bottom: 7rem;
}

.sw2_mb-10 {
    margin-bottom: 17rem;
}

.sw2_ms-0 {
    margin-left: 0;
}

.sw2_ms-1 {
    margin-left: 0.25rem;
}

.sw2_ms-2 {
    margin-left: 0.5rem;
}

.sw2_ms-3 {
    margin-left: 1rem;
}

.sw2_ms-4 {
    margin-left: 1.5rem;
}

.sw2_ms-5 {
    margin-left: 3rem;
}

.sw2_ms-8 {
    margin-left: 5rem;
}

.sw2_ms-9 {
    margin-left: 7rem;
}

.sw2_ms-10 {
    margin-left: 17rem;
}


.sw2_me-0 {
    margin-right: 0;
}

.sw2_me-1 {
    margin-right: 0.25rem;
}

.sw2_me-2 {
    margin-right: 0.5rem;
}

.sw2_me-3 {
    margin-right: 1rem;
}

.sw2_me-4 {
    margin-right: 1.5rem;
}

.sw2_me-5 {
    margin-right: 3rem;
}

.sw2_me-8 {
    margin-right: 5rem;
}

.sw2_me-9 {
    margin-right: 7rem;
}

.sw2_me-10 {
    margin-right: 17rem;
}

.sw2_mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.sw2_mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.sw2_mx-1 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.sw2_mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.sw2_mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.sw2_mx-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.sw2_mx-5 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.sw2_mx-8 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.sw2_mx-9 {
    margin-left: 7rem;
    margin-right: 7rem;
}

.sw2_mx-10 {
    margin-left: 17rem;
    margin-right: 17rem;
}

.sw2_my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.sw2_my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.sw2_my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.sw2_my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sw2_my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.sw2_my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sw2_my-8 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.sw2_my-9 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.sw2_my-10 {
    margin-top: 17rem;
    margin-bottom: 17rem;
}


/* ===========================
   PADDING
   =========================== */

.sw2_p-0 {
    padding: 0;
}

.sw2_p-1 {
    padding: 0.25rem;
}

.sw2_p-2 {
    padding: 0.5rem;
}

.sw2_p-3 {
    padding: 1rem;
}

.sw2_p-4 {
    padding: 1.5rem;
}

.sw2_p-5 {
    padding: 3rem;
}

.sw2_pt-0 {
    padding-top: 0;
}

.sw2_pt-1 {
    padding-top: .25rem;
}

.sw2_pt-2 {
    padding-top: .5rem;
}

.sw2_pt-3 {
    padding-top: 1rem;
}

.sw2_pt-4 {
    padding-top: 1.5rem;
}

.sw2_pt-5 {
    padding-top: 3rem;
}

.sw2_pb-0 {
    padding-bottom: 0;
}

.sw2_pb-1 {
    padding-bottom: .25rem;
}

.sw2_pb-2 {
    padding-bottom: .5rem;
}

.sw2_pb-3 {
    padding-bottom: 1rem;
}

.sw2_pb-4 {
    padding-bottom: 1.5rem;
}

.sw2_pb-5 {
    padding-bottom: 3rem;
}

.sw2_ps-0 {
    padding-left: 0;
}

.sw2_ps-1 {
    padding-left: .25rem;
}

.sw2_ps-2 {
    padding-left: .5rem;
}

.sw2_ps-3 {
    padding-left: 1rem;
}

.sw2_ps-4 {
    padding-left: 1.5rem;
}

.sw2_ps-5 {
    padding-left: 3rem;
}

.sw2_pe-0 {
    padding-right: 0;
}

.sw2_pe-1 {
    padding-right: .25rem;
}

.sw2_pe-2 {
    padding-right: .5rem;
}

.sw2_pe-3 {
    padding-right: 1rem;
}

.sw2_pe-4 {
    padding-right: 1.5rem;
}

.sw2_pe-5 {
    padding-right: 3rem;
}

.sw2_px-0 {
    padding-left: 0;
    padding-right: 0;
}

.sw2_px-1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.sw2_px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.sw2_px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sw2_px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sw2_px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.sw2_py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.sw2_py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.sw2_py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sw2_py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sw2_py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.sw2_py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sw2_mr--15 {
    margin-right: -15px;
}

.sw2_ml--15 {
    margin-left: -15px;
}

.sw2_mx--15 {
    margin-right: -15px;
    margin-left: -15px;
}